amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
black==25.12.0
celery==5.6.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==6.0.1
django-filter==25.2
django_celery_results==2.6.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
flake8==7.3.0
isort==7.0.0
kombu==5.6.2
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.3
platformdirs==4.5.1
prompt_toolkit==3.0.52
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.11.0
python-dateutil==2.9.0.post0
pytokens==0.3.0
redis==7.3.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.6.0
